:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.section {
  background: linear-gradient(
    to right,
    rgb(6, 1, 98) 0%,
    rgba(3, 50, 166, 1) 16%,
    rgba(255, 255, 255, 1) 100%
  );
}
